<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php/$1 [L]
</IfModule>

ErrorDocument 400 "/errors/400.php"
ErrorDocument 401 "/errors/401.php"
ErrorDocument 403 "/errors/403.php"
ErrorDocument 404 "/errors/404.php"

RedirectMatch 404 "^/(?:app|storage|system|vendor|\.|composer|LICENSE|README)"

SetEnvIf SERVER_ADDR "^(?:127\.0\.0\.\d+|::1)" ENV=development
